<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShowTractor.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShowTractor.GeneralSettings>
            <setting name="ShowCheckboxInCalendarPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultEpisodeLength" serializeAs="String">
                <value>00:45:00</value>
            </setting>
            <setting name="MetadataUpdateInterval" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="RemoteDatabaseFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteDatabaseLastSyncTimeUtc" serializeAs="String">
                <value />
            </setting>
        </ShowTractor.GeneralSettings>
    </userSettings>
</configuration>